<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.setonMyProjects.birthdayreminder">

    <!--ADDED to give permission to read and write data. Used for SQL database-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--ADDED notification functionality-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <!--ADDED vibrating functionality-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirthdayReminder"
        tools:targetApi="31">


        <activity
            android:name="com.setonMyProjects.birthdayreminder.BirthdayDetailsPopUp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.setonMyProjects.birthdayreminder.RecycleBirthdayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.setonMyProjects.birthdayreminder.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name="com.setonMyProjects.birthdayreminder.BirthdayReceiver"
            android:enabled="true"
            android:exported="false"/>


    </application>

</manifest>